.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons__button {
    background: transparent;
    color: teal;
    border: none;
    margin: 10px;
    transition: background-color 0.5s;
}

@media (max-width: 767px) {
    .buttons__button {
        flex-basis: 100%;
        margin: 10px;
    }
}

.buttons__button--hover {
    color: tomato;
}

.buttons__button--disabled {
    color: #ccc;
}
